<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden bg-transparent"></div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="text-4xl font-mplus font-medium">
      Accelerate your Task or Work <span class="text-orange-500">by Learning AI</span>
    </div>
  </div>
</section>
